// Markdown files
#rendered-markdown-file {
    #site-title {
        margin: 1.3rem 0 1.3rem 0;

        &:after {
            content: "";
            display: block;
            height: $cs-border-width;
        }
    }

    // Fragmented headlines
    a.fragment-link {
        color: inherit;
        display: flex;
        align-items: center;
        text-decoration: none;

        .headline {
            margin: 0 0 1rem 0;
            & + .flex-filler + span {
                color: $cs-link;
                opacity: 0;
                margin: 0 0 0.8rem 0.5rem;
                transition: opacity 0.2s ease-in-out;
                transition: color 0.1s ease-in-out;
            }
        }

        .sub-headline {
            margin: 0 0 0.5rem 0;
            & + .flex-filler + span {
                color: $cs-link;
                opacity: 0;
                margin: 0 0 0.4rem 0.5rem;
                transition: opacity 0.2s ease-in-out;
                transition: color 0.1s ease-in-out;
            }
        }

        &:hover .flex-filler + span {
            opacity: 1;
        }

        &:visited .flex-filler + span {
            color: $cs-link-visited;
        }
    }

    .paragraph {
        margin: 0 0 0.3rem 0;
    }

    .list {
        margin: 0 0 0.3rem 0;
    }

    .code-block-wrapper {
        .clipboard-wrapper {
            position: absolute;
            width: calc(100% - $cs-padding * 2);
            height: calc(1rem + $cs-padding * 2);
            display: flex;
            align-items: center;

            .clipboard {
                opacity: 0;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                z-index: 10;
            }
        }

        &:hover {
            .clipboard-wrapper {
                .clipboard {
                    opacity: 1;
                }
            }
        }

        .code-block {
            width: 100%;
            border-radius: $cs-border-radius;
            padding: $cs-padding;
            margin: 0 0 0.3rem 0;

            position: relative;
            overflow-x: auto;

            code {
                font-size: 12px;
                font-family: "Roboto Mono", monospace;

                .hljs-comment {
                    color: green;
                }
            }
        }
    }

    .inline-code {
        color: orange;
        font-size: 14px;
        font-weight: 600;
        font-family: "Roboto Mono", monospace;
    }

    blockquote {
        border-radius: $cs-border-radius;
        padding: $cs-padding;
        margin-top: 0;
    }
}

// Links
a:not(.fragment-link) {
    color: $cs-link;
    &:visited {
        color: $cs-link-visited;
    }
}

.light {
    #rendered-markdown-file {
        #site-title {
            &:after {
                background-color: $cs-font-light;
            }
        }
        .code-block {
            background-color: $cs-app-light-codeblock;
            color: $cs-font-light;
        }
        blockquote {
            background-color: $cs-app-light-blockquote;
            color: $cs-font-light;
        }

        table {
            border-spacing: 0;
            thead {
                background-color: rgb(172, 172, 172);
                tr {
                    th {
                        border-left: 2px solid black;
                        border-top: 2px solid black;
                        border-bottom: 2px solid black;
                    }
                    th:last-child {
                        border: 2px solid black;
                    }
                }
            }
            tbody {
                background-color: lightgray;
                tr {
                    td {
                        border-left: 2px solid black;
                        border-bottom: 2px solid black;
                    }
                    td:last-child {
                        border-right: 2px solid black;
                        border-left: 2px solid black;
                        border-bottom: 2px solid black;
                    }
                }
            }
        }
    }
}

.dark {
    #rendered-markdown-file {
        #site-title {
            &:after {
                background-color: $cs-font-dark;
            }
        }
        .code-block {
            background-color: $cs-app-dark-codeblock;
            color: $cs-font-dark;
        }
        blockquote {
            background-color: $cs-app-dark-blockquote;
            color: $cs-font-dark;
        }

        table {
            border-spacing: 0;
            thead {
                background-color: rgb(172, 172, 172);
                tr {
                    th {
                        border-left: 2px solid white;
                        border-top: 2px solid white;
                        border-bottom: 2px solid white;
                    }
                    th:last-child {
                        border: 2px solid white;
                    }
                }
            }
            tbody {
                background-color: lightgray;
                tr {
                    td {
                        border-left: 2px solid white;
                        border-bottom: 2px solid white;
                    }
                    td:last-child {
                        border-right: 2px solid white;
                        border-left: 2px solid white;
                        border-bottom: 2px solid white;
                    }
                }
            }
        }
    }
}
